:root {
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --blue: #33caca;
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

* {
  margin: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: proxima-nova;
}

#header {
  position: relative;
  height: 100vh;
  min-height: 500px;
  width: 100%;
  background-color: #191a1d;
  background-image: url("/assets/images/hero-bg.JPG");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.active {
  background-color: #333;
}

.nav {
  display: flex;
  width: 100%;
  min-height: 48px;
  justify-content: center;
  align-content: center;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  vertical-align: middle;
  align-items: center;
}

.nav ul {
  padding-left: 0;
}

.nav .nav__items {
  display: flex;
  list-style: none;
}

.nav .nav__items .nav__item {
  margin-right: 20px;
}

.nav .nav__items .nav__item a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
}

.nav .nav__items .nav__item a:hover {
  color: #33caca;
}

.nav .nav__items .nav__item a.current {
  color: #33caca;
}

.nav .nav__toggleShow {
  display: flex !important;
}

.logo {
  display: flex;
  height: 25px;
  width: 25px;
}

.fa-bars {
  height: 25px;
  width: 25px;
  color: #fff !important;
}

.nav__toggle {
  display: none;
}

.site__banner {
  display: flex;
  height: 100%;
  justify-content: center;
  vertical-align: middle;
}

.site__banner .site__banner__content {
  align-items: center;
  display: flex;
  justify-content: center;
}

.site__banner .site__banner__content h1 {
  font-size: 72px;
  line-height: 36px;
  color: #fff;
  text-align: center;
  margin-bottom: 1.5rem;
}

.site__banner .site__banner__content .site__banner__h1 {
  color: #33caca;
}

.site__banner .site__banner__content h3 {
  color: #b7b7b7;
  text-align: center;
  font-size: 18px;
  margin-bottom: 40px;
}

.site__banner .site__banner__content h3 span {
  color: #fff;
}

.site__banner .site__banner__content__btn {
  display: flex;
  width: 150px;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  justify-content: center;
  margin: auto;
  font-weight: 600;
  transition: all 0.3s;
  margin-top: 50px;
}

.site__banner .site__banner__content__btn:hover {
  background-color: #33caca;
  border: 1px solid #33caca;
}

#about {
  background: #2b2b2b;
  padding-top: 96px;
  padding-bottom: 66px;
  overflow: hidden;
}

#about .about__image {
  padding: 0 20px;
  width: 25%;
}

#about .about__content {
  width: 75%;
}

#about .about__contact {
  width: 41.66667%;
}

#about img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  object-fit: cover;
}

#about h2 {
  color: #fff;
}

#about p {
  line-height: 30px;
  color: #7a7a7a;
  margin: 0 0 30px 0;
}

#about .about__resume__ {
  width: 58.33333%;
  padding-top: 6px;
}

#about .about__resume__btn {
  align-self: center;
  display: flex;
  background: #444;
  padding: 12px 20px;
  cursor: pointer;
  height: auto;
  margin-bottom: 18px;
  color: #fff;
  text-decoration: none;
  justify-content: center;
  border: none;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.3s;
  margin-top: 50px;
}

#about .about__resume__btn:hover {
  background-color: #33caca;
}

#about .about__resume__btn .fa-download {
  margin-right: 15px;
}

.about__row {
  display: flex;
  max-width: 1020px;
  margin: 0 auto;
}

.projects {
  padding-top: 2rem;
}

.project__list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: auto;
  max-width: 400px;
}

.project__list .project__card {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1px;
  box-sizing: border-box;
  margin-bottom: 2rem;
}

.project__list .project__card img {
  width: 100%;
  height: 200px;
  object-fit: fill;
}

.projects__title {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
}

.projects__title__bar {
  display: block;
  width: 70px;
  margin: auto;
  background-color: #191a1d;
  height: 4px;
  margin-bottom: 3rem;
}

.social-links {
  display: flex;
  justify-content: center;
  align-content: center;
}

.social-links a {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  margin-right: 15px;
}

.social-links a :hover {
  transition: all 0.2s;
  color: #33caca;
}

footer {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #0f0f0f;
  color: #303030;
  font-size: 14px;
  text-align: center;
  position: relative;
}

footer .social-links a {
  color: #525252;
}

.footer__copyright {
  margin-top: 24px;
}

@media screen and (max-width: 768px) {
  .site__banner .site__banner__content__title {
    padding: 0 20px;
  }
  .site__banner .site__banner__content h1 {
    font-size: 20px;
    line-height: 24px;
  }
  .project__list .project__card {
    width: 100%;
    padding: 0 20px;
  }
  #about .about__row {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #about .about__image {
    width: 100%;
  }
  #about .about__content {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .featured__project .project__title {
    margin: 0px 0px 20px;
  }
}

@media screen and (min-width: 1920px) {
  .project__list {
    max-width: 800px;
  }
}

/* PROJECT SECTION */
.featured__projectGrid {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.featured__project {
  position: relative;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
  align-items: center;
}

.project__content {
  position: relative;
  grid-area: 1 / 1 / -1 / 7;
}

.featured__project .project__content {
  position: relative;
  grid-area: 1 / 1 / -1 / 7;
}

.featured__project:nth-of-type(2n + 1) .project__content {
  grid-column: 7 / -1;
  text-align: right;
}

.featured__project:not(:last-of-type) {
  margin-bottom: 100px;
}

.project__image {
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  transition: var(--transition);
  grid-area: 1 / 6 / -1 / -1;
  position: relative;
  z-index: 1;
}

.project__image .project__img__wrapper {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  border-radius: var(--border-radius);
  mix-blend-mode: multiply;
  filter: grayscale(100%) contrast(1) brightness(90%);
}

.project__image a {
  width: 100%;
  height: 100%;
  background-color: var(--blue);
  border-radius: var(--border-radius);
  vertical-align: middle;
}

.project__image a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0px;
  z-index: 3;
  transition: var(--transition);
  background-color: var(--navy);
  mix-blend-mode: screen;
}

.project__image a:hover, .project__image a:focus {
  background: transparent;
  outline: 0px;
}

.featured__project:nth-of-type(2n + 1) .project__image {
  grid-column: 1 / 8;
}

.project__overline {
  margin: 10px 0px;
  color: var(--blue);
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
  font-weight: 400;
}

.project__title {
  color: var(--lightest-slate);
  font-size: clamp(24px, 5vw, 28px);
}

.project__description {
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  transition: var(--transition);
  position: relative;
  z-index: 2;
  padding: 25px;
  border-radius: var(--border-radius);
  background-color: var(--light-navy);
  color: var(--light-slate);
  font-size: var(--fz-lg);
}

.project__tech__list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  margin: 25px 0px 10px;
  padding: 0px;
  list-style: none;
}

.project__tech__list li {
  margin: 0px 20px 5px 0px;
  color: var(--light-slate);
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
  white-space: nowrap;
}

.featured__project:nth-of-type(2n + 1) .project__tech__list li {
  margin: 0px 0px 5px 20px;
}

.featured__project:nth-last-of-type(2n + 1) .project__tech__list {
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.featured__project:nth-of-type(2n + 1) .project__links {
  -webkit-box-pack: end;
  justify-content: flex-end;
  margin-left: 0px;
  margin-right: -10px;
}

.project__links {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin-top: 10px;
  margin-left: -10px;
  color: var(--lightest-slate);
}

.project__links a {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 10px;
}

a svg {
  width: 22px;
  height: 22px;
  margin-top: -4px;
}

section {
  margin: 0px auto;
  padding: 100px 0px;
  max-width: 1000px;
}

.section__heading {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: clamp(26px, 5vw, var(--fz-heading));
  white-space: nowrap;
}

.section__heading::after {
  content: "";
  display: block;
  position: relative;
  top: -5px;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--lightest-navy);
}

.featured__project .project-image a:hover::before,
.featured__project .project-image a:focus::before,
.featured__project .project-image a:hover .img,
.featured__project .project-image a:focus .img {
  background: transparent;
  filter: none;
}
/*# sourceMappingURL=style.css.map */